@using Microsoft.AspNetCore.Identity
@using Coursework.Domain.Entities
@using Microsoft.AspNetCore.Hosting
@inject UserManager<ApplicationUser> _userManager
@inject IWebHostEnvironment webHostEnvironment

    <header class="p-3 bg-light text-white">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a class="align-items-center text-black text-decoration-none
                      col-12 col-lg-auto me-lg-auto"
                   asp-area="" asp-controller="Home" asp-action="Index">Coursework</a>

                <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3 flex-last">
                    <input type="search" class="form-control form-control-dark" placeholder="Search..."
                           aria-label="Search">
                </form>
                <div class="text-end">
                    @if (!User.Identity.IsAuthenticated)
                    {
                        <a asp-controller="Account" asp-action="Login" class="btn btn-outline-dark me-2">Login</a>
                        <a asp-controller="Account" asp-action="Register" class="btn btn-warning">Register</a>
                    }
                    else
                    {
                        var user = await _userManager.FindByIdAsync(_userManager.GetUserId(User));

                        <div class="flex-shrink-0 dropdown">
                            <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="@user.AvatarUrl" alt="mdo" width="32" height="32" class="rounded-circle">
                            </a>
                            <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2" style="">
                                <li><a class="dropdown-item" href="#">Личный кабинет</a></li>
                                <li><a class="dropdown-item" href="#">Настройки</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li>
                                    <form method="post" asp-controller="Account" asp-action="SignOut">
                                        <input class="dropdown-item" type="submit" value="Выйти" />
                                    </form>
                                </li>
                            </ul>
                        </div>
                    }
                </div>
            </div>
        </div>
    </header>
