@using Microsoft.Extensions.Options
@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Mvc.Localization
@model Coursework.ViewModels.SettingsViewModel 

@inject IHtmlLocalizer<SharedResource> _sharedLocalizer

<h2>@_sharedLocalizer["Settings"]</h2>

<form method="post" asp-controller="Account" asp-action="Settings">
    <div class="col-xl-3 col-md-4 col-sm-6 col-12">
        <select class="form-select" asp-items="Model.Cultures"
                asp-for="TargetCulture">
        </select>
        <br />
        <select class="form-select" asp-items="Model.Themes"
                asp-for="TargetTheme">
        </select>
        <br />
    </div>

    <button class="btn btn-success mb-2" type="submit">@_sharedLocalizer["Accept"]</button>
</form>