@model IEnumerable<Coursework.Models.Review>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br/>
    <div class="d-grid gap-3" style="grid-template-columns: 2fr 1fr;">
        <div class="container">
            @foreach(var r in Model)
            {
                await Html.RenderPartialAsync("ReviewPartPartial", r);
            }   
        </div>
        <div class="container">
            <text class="text-black">Hello world!</text>
        </div>
    </div>
</div>
