@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br/>
    <div class="d-grid gap-3" style="grid-template-columns: 2fr 1fr;">
        <div class="bg-dark">
            <text class="text-light">
            </text>
        </div>
        <div class="bg-dark">
            <text class="text-light">Hello world!</text>
        </div>
    </div>
</div>
