@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br/>
    <div class="d-grid gap-3" style="grid-template-columns: 3fr 2fr;">
        <div class="bg-dark">
            <text>Hello world!</text>
        </div>
        <div class="bg-dark">
            <text>Hello world!</text>
        </div>

    </div>
</div>
