@model Coursework.ViewModels.MainPageViewModel

@inject IHtmlLocalizer<SharedResource> _sharedLocalizer

@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-12 col-lg-8">
        <h3>@_sharedLocalizer["LastReviews"]</h3>
        <div class="pt-2">
            @foreach (var r in Model.LastReview)
            {
                await Html.RenderPartialAsync("PartReviewPartial.cshtml", r);
            }
        </div>
    </div>
    <div class="col-12 col-lg-4">
        <h3>@_sharedLocalizer["PopularReviews"]</h3>
        <div class="pt-2">
            @foreach (var r in Model.PopularReviews)
            {
                await Html.RenderPartialAsync("PartReviewPartial.cshtml", r);
            }
        </div>
    </div>
</div>

