@model IEnumerable<Coursework.Models.Review>
@inject IHtmlLocalizer<SharedResource> _sharedLocalizer

@{
    ViewData["Title"] = "Search";
}


<div class="pt-2">
    @if(Model.Any())
    {
        foreach (var r in @Model)
        {
            await Html.RenderPartialAsync("PartReviewPartial.cshtml", r);
        }
    }
    else
    {
        <h2>@_sharedLocalizer["SearchNoResult"]</h2>
    }
</div>